.MessageBox {
    height: 90px;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.308);
    border: 1px solid yellow;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: saira;
    position: relative;
}

.MessageBox p {
    font-size: 20px;
    margin: 0;
}

.close {
    font-size: 20px;
    color: red;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    transition: background 0.3s ease;
    border-radius: 4px;
}

.close:hover {
    background-color: rgba(255, 255, 0, 0.4);
}
