.wms{
    width: 100vw;
    display: flex;
    padding: 10px;
    font-family: saira;
}

.main{
    padding: 8px;
    width: 80%;
}

.inputbox{
    width: 100%;
    background-color: rgb(36, 37, 37);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.inputbox select{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

.inputbox input{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

.isdata{
    width: 100%;
    min-height: 100px;
    background-color: rgb(36, 37, 37);
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 800px){
    .wms{
        flex-direction: column;
    }
    .main{
        width: 100%;
    }
    .isdata{
        flex-direction: column;
    }
}