.node{
    padding: 10px;
    display: flex;
}

.main{
    padding: 10px;
    width: 75vw;
    height: 85vh;
}

.addbtn{
    position: absolute;
    right: 20px;
    top: 80px;
}

.btn{
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover{
    background-color: white;
    color: black;
}

.nodes{
    width: 100%;
    height: auto;
    background-color: rgb(29, 30, 31);
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.nodesticon{
    display: flex;
    align-items: center;
    /* font-family: saira; */
    /* font-weight: 700; */
}

.nodestatus{
    text-align: center;
}

@media only screen and (max-width: 800px){
    .node{
        flex-direction: column;
    }

    .addbtn{
        position: absolute;
        right: 20px;
        top: 120px;
    }
}