.bots{
    padding: 10px;
    display: flex;
}

.main{
    padding: 10px;
    width: 75vw;
    height: 85vh;
}

@media only screen and (max-width: 800px){
    .bots{
        flex-direction: column;
    }

    .main{
        width: 100%;
    }
}